
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// AdminLte
@import "~admin-lte/dist/css/AdminLTE.css";
@import "~admin-lte/dist/css/skins/_all-skins.css";


// custom
.skin-red .main-header{
	.logo, .navbar{
    	background-color: #c9302c;
	}
}

.table{
	th, td{
		vertical-align: middle !important;
	}
}

.dropdown-actions{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    min-width: 225px;
	li>a{
    	padding: 9px 20px !important;
    	i{
    		width: 20px;
    	}
	}
}

.modal-content {
    border-radius: 0;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.125);
    box-shadow: 0 2px 3px rgba(0,0,0,0.125);
    border: 0;
}

.modal{
	&-dialog{
		width: 100%;
    	max-width: 900px;
	}
	&-body{
		padding: 0;
	}
	&__col{
		&--left{
			float: left;
			width: 210px;
		}
		&--right{
			padding-left: 210px;
		}
		.nav>li{
			a{
			    padding: 10px 20px;
			    display: block;
			    color: #797979;
				text-decoration: none !important;
		    	i{
		    		width: 25px;
		    	}
			}
			&.active a{
				background-color: #f2f2f2;
			}
		}
		&__content{
			border-left: 1px solid #ddd;
			min-height: 300px;
			padding: 0 20px 20px 20px;
			background-color: #f2f2f2;
			h4{
				margin-top: 0;
				padding-top: 10px;
			}
		}
	}
}

.pagination{
    margin: 0;
}

// checbox

.custom-checkbox {
    min-height: 1rem;
    padding-left: 0;
    margin-right: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-indicator {
    content: "";
    display: inline-block;
    position: relative;
    width: 30px;
    height: 10px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    vertical-align: middle;
    margin: 0 16px;
    box-shadow: none;
}

.custom-checkbox .custom-control-indicator:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #f1f1f1;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -2px;
    top: -4px;
    -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
    transition: left .3s ease, background .3s ease, box-shadow .1s ease;
}

.custom-checkbox .custom-control-input:checked~.custom-control-indicator {
    background-color: #c9302d;
    background-image: none;
    box-shadow: none !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-indicator:after {
    background-color: #c9302d;
    left: 15px;
}

.custom-checkbox .custom-control-input:focus~.custom-control-indicator {
    box-shadow: none !important;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}