.social-media-icons {
    li a {
        display: block;
        height: 42px;
        width: 42px;
    }
    .fb {
        background: url(https://www.avidaland.com/assets/img/avida_social-media-icon.png) 0 0;
    }
    .tw {
        background: url(https://www.avidaland.com/assets/img/avida_social-media-icon.png) -52px 0;
    }
    .ig {
        background: url(https://www.avidaland.com/assets/img/avida_social-media-icon.png) -106px 0;
    }
    .yt {
        background: url(https://www.avidaland.com/assets/img/avida_social-media-icon.png) -158px 0;
    }
}

.footer {
    background-color: #222222;
    color: #fff;
    line-height: 1.6em;
    padding: 35px 0;
    font-size: 14px;
    .form-control {
        border-color: #fff;
        border-width: 2px;
        background-color: transparent;
        color: #989898;
    }
    .c-input-select:after {
        color: #989898;
    }
    .list-useful-link a {
        display: block;
        padding: 4px 0;
        color: #fff !important;
    }
    .list-inline a {
        color: #fff !important;
    }
    .alert-success {
        color: #ffffff;
        background-color: green;
        border-color: green;
    }
    h3 {
        font-size: 20px;
    }
    hr{
        border-color: #ffffff26;
    }
}