.navbar {
    background-color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-bottom: 0;
    border-bottom: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    
    .navbar-nav>li>a{
        font-size: 14px;
    }

    .nav-thin {
        background-color: #222222;
        height: 31px;
        select {
            background: transparent;
            border: 0;
        }
        input {
            background: transparent;
            border: 0;
            max-width: 130px;
        }
        .other-site,
        .other-site-close {
            padding: 6px 0;
        }
        .other-site-list {
            position: relative;
            top: 0;
            margin-left: -156px;
            background-color: #222222;
            a {
                border-right: 1px solid #4a4a4a;
                font-size: 12px;
                padding: 6px 15px 6px 0;
                margin-right: 15px;
                text-transform: uppercase;
                color: #fafafa;
                &:last-child {
                    border: 0;
                }
            }
        }
        select>option {
            color: #333;
        }
        .select-language {
            border-left: 1px solid #4e4e4e;
            padding-left: 10px;
            margin-left: 10px;
        }
        .social-media {
            li a {
                display: block;
                height: 20px;
                width: 20px;
                margin: 0 -2px;
            }
            .fb {
                background: url(https://www.avidaland.com/assets/img/avida_social-media-icon-small.png) 0 0;
            }
            .tw {
                background: url(https://www.avidaland.com/assets/img/avida_social-media-icon-small.png) -25px 0;
                width: 21px;
            }
            .ig {
                background: url(https://www.avidaland.com/assets/img/avida_social-media-icon-small.png) -51px 0;
            }
            .yt {
                background: url(https://www.avidaland.com/assets/img/avida_social-media-icon-small.png) -76px 0;
            }
        }
    }
    // .navbar-brand>img {
    //     height: 50px;
    //     position: relative;
    //     z-index: 1;
    // }
    .navbar-form>.form-group>.form-control {
        width: 160px;
    }
    .navbar-nav>li>a.pop-logo {
        padding-top: 11px;
        padding-bottom: 11px;
        width: 130px;
    }
    .dropdown>.dropdown-menu {
        border: 0;
        padding: 0;
        min-width: 200px;
        border-radius: 0;
        border-top: 1px solid #ddd;
    }
}

@media (max-width: 991px) {
    .navbar .nav-thin .nav-sites {
        ul {
            display: none;
        }
        select {
            display: inline-block !important;
        }
    }
}

// @media (max-width: 544px) {
//     .navbar .navbar-brand>img {
//         padding: 10px 0;
//     }
// }

@media (max-width: 767px) {
    .navbar {
        .navbar-toggle {
            float: left;
            margin-right: 0;
            margin-left: 15px;
        }
        .navbar-icon {
            position: fixed;
            top: 0;
            right: 0;
            height: 50px;
            line-height: 50px;
            display: block !important;
            li {
                padding: 0;
            }
            a {
                color: #000;
                font-size: 24px;
                display: inline-block;
                padding: 0 15px;
                border-left: 1px solid #f2f2f2;
            }
        }
        .navbar-icon-calc,
        .navbar-icon-todolist {
            display: none;
        }
        .navbar-icon-calc span,
        .navbar-icon-todolist span {
            position: relative;
            top: 3px;
        }
    }
}

@media (max-width: 1255px) {
    .navbar {
        .navbar-collapse {
            position: relative;
        }
        .navbar-form {
            position: absolute;
            right: 15px;
            bottom: 0;
            z-index: 11;
            background-color: #fff;
            display: none;
        }
        .navbar-btn-search-close {
            border: 0;
            font-size: 18px;
        }
        .navbar-btn-search,
        .navbar-btn-search-close {
            display: inline-block !important;
        }
    }
}

@media (max-width: 1075px) {
    .navbar .navbar-nav>li>a {
        padding-left: 14px;
        padding-right: 14px;
        font-size: 14px;
        &.navContactUs {
            display: none;
        }
    }
}

@media (max-width: 900px) {
    .navbar .navbar-nav>li>a {
        padding-left: 13px;
        padding-right: 13px;
        &.navWhatsNew {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    .navbar.hasScrolledNav {
        top: -31px;
    }
}

.search-bar {
    background-color: #c9302c;
    background-color: #c9302c;
    height: 50px;
    padding: 8px 0;
    .search-bar-container {
        position: relative;
        max-width: 1170px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    .search-option {
        padding-right: 95px;
        .btn {
            background: transparent;
            color: #fff;
            border-color: #fff;
        }
    }
    .search-action {
        position: absolute;
        top: 0;
        right: 15px;
        .btn {
            background: transparent;
            color: #fff;
            border: 0;
        }
    }
}

@media (max-width: 1199px) {
    .search-bar .search-bar-container {
        max-width: 970px;
    }
}

@media (max-width: 767px) {
    .search-bar .search-option {
        padding-right: 50px;
    }
}

@media (max-width: 767px) {
    .search-bar {
        display: none !important;
        opacity: 0 !important;
    }
}

.sidebar-nav {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1111;
}

.mask-modal {
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.sidebar-nav-content {
    position: fixed;
    top: 0;
    left: -285px;
    width: 285px;
    height: 100%;
    border: 0;
    overflow-y: auto;
    background-color: #fff;
    z-index: 11111;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

body.navbar-sm-toggle {
    overflow: hidden;
    .sidebar-nav {
        visibility: visible;
    }
    .mask-modal {
        opacity: .6;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    }
    .sidebar-nav-content {
        left: 0;
    }
}

.sidebar-nav .list-unstyled a {
    text-decoration: none;
    display: block;
    padding: 7px 0;
    color: #333;
}