/* 
========================================================
Center vertical */

.va-block {
    display: table;
    height: 100%;
    width: 100%;
}

.va-middle,
.va-bottom {
    display: table-cell;
}

.va-middle {
    vertical-align: middle;
}

.va-bottom {
    vertical-align: bottom;
}


/* 
========================================================
Padding helpers */

@for $i from 0 through 6 {
    .p-a-#{$i * 1} {
        padding: #{($i * 5) + 'px'} !important;
    }
    .p-t-#{$i * 1} {
        padding-top: #{($i * 5) + 'px'} !important;
    }
    .p-r-#{$i * 1} {
        padding-right: #{($i * 5) + 'px'} !important;
    }
    .p-b-#{$i * 1} {
        padding-bottom: #{($i * 5) + 'px'} !important;
    }
    .p-l-#{$i * 1} {
        padding-left: #{($i * 5) + 'px'} !important;
    }
    .p-x-#{$i * 1} {
        padding-left: #{($i * 5) + 'px'} !important;
        padding-right: #{($i * 5) + 'px'} !important;
    }
    .p-y-#{$i * 1} {
        padding-top: #{($i * 5) + 'px'} !important;
        padding-bottom: #{($i * 5) + 'px'} !important;
    }
}

/* 
========================================================
Margin helpers*/

@for $i from 0 through 6 {
    .m-a-#{$i * 1} {
        margin: #{($i * 5) + 'px'} !important;
    }
    .m-t-#{$i * 1} {
        margin-top: #{($i * 5) + 'px'} !important;
    }
    .m-r-#{$i * 1} {
        margin-right: #{($i * 5) + 'px'} !important;
    }
    .m-b-#{$i * 1} {
        margin-bottom: #{($i * 5) + 'px'} !important;
    }
    .m-l-#{$i * 1} {
        margin-left: #{($i * 5) + 'px'} !important;
    }
    .m-x-#{$i * 1} {
        margin-left: #{($i * 5) + 'px'} !important;
        margin-right: #{($i * 5) + 'px'} !important;
    }
    .m-y-#{$i * 1} {
        margin-top: #{($i * 5) + 'px'} !important;
        margin-bottom: #{($i * 5) + 'px'} !important;
    }
}


.w-100{
    width: 100%;
}


.va-block {
  display: table;
  height: 100%;
  width: 100%;
}

.va-middle, .va-bottom {
  display: table-cell;
}

.va-middle {
  vertical-align: middle;
}

.va-bottom {
  vertical-align: bottom;
}

.row-gap {
  margin-right: -10px;
  margin-left: -10px;
  .col-gap {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.row-gap-xs {
  margin-right: -5px;
  margin-left: -5px;
  .col-gap-xs {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.row-gap-sm {
  margin-right: -8px;
  margin-left: -8px;
  .col-gap-sm {
    padding-right: 8px;
    padding-left: 8px;
  }
}


@media screen and (max-width: 544px) {
  .col-xs-block {
    width: 100%;
  }
}

.text-white {
  color: #fff !important;
}

.text-red {
  color: #c9302c !important;
}

.text-gray {
  color: #c3c3c3;
}

.text-black {
  color: #333 !important;
}

.btn-red {
  background-color: #c9302c !important;
  color: #fff !important;
  padding-left: 30px;
  padding-right: 30px;
  &:hover {
    opacity: .9;
  }
}

.c-pointer {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .huge {
    font-size: 3em;
  }
}

@media screen and (min-width: 992px) {
  .huge {
    font-size: 4.3em;
  }
}

.gradient {
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.75)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

@media screen and (min-width: 768px) {
  .gradient-md-up {
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.75)));
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    h1 {
      font-weight: bold;
    }
  }
}

.bg-cover {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #666;
  position: relative;
}

.expandable {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 40px;
    width: 100%;
    display: block;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, #fff));
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #fff 100%);
    background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
  }
}

.pos-rel {
  position: relative;
}

.white-text-shadow {
    text-shadow: 1px 2px 3px #fff;
}