.property {
    margin-bottom: 20px;
    >a {
        display: block;
        background-color: #fafafa;
    }
    h3 {
        font-size: 18px;
        min-height: 40px;
        a {
            color: #c9302c;
        }
    }
    .property-address {
        min-height: 75px;
        margin-bottom: 0 !important;
    }
    .property-details {
        line-height: 1.5em;
        font-size: 15px;
        min-height: 70px;
    }
}

@media screen and (max-width: 544px) {
    .property {
        border-bottom: 2px solid #ddd;
    }
}