// Breadcrumbs ===============================================================================================
.project-bread-crumbs {
    padding: 15px 0;
    background-color: #c9302c;
    top: 81px;
    z-index: 111;
    &.top-when-scroll {
        top: 50px;
    }
    .try {
        color: #ccc;
    }
    a {
        color: #fff;
        text-decoration: underline;
    }
}

// banner and concept ===============================================================================================
.project-content {
    padding: 20px 0;
    p.details {
        font-size: 12px;
        line-height: 20px;
    }
    hr {
        margin-top: 30px;
    }

    @media (min-width: 768px) {
        padding-top: 40px;
        hr {
            margin-top: 50px;
            margin-bottom: 35px;
        }
    }
}
.project-banner{
    .project-details {
        .col-5 {
            width: 20%;
            float: left;
            @media (max-width: 767px) {
                width: 50% !important;
                margin-bottom: 10px;
            }
        }
        .make-5-col .col-5 {
            width: 20%;
        }

        @media (max-width: 992px) {
            h4 {
                font-size: 14px;
            }
            span.small {
                font-size: 75%;
            }
        }
    }

    @media screen and (min-width: 768px) {
        .project-heading {
            color: #fff;
            padding-top: 30px;
            height: 215px;
            margin-top: -215px;
            position: relative;
            .text-muted {
                color: #ccc;
            }
            background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.87) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.87)));
            background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.87) 100%);
            background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.87) 100%);
            background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.87) 100%);
            background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.87) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
        }
        h1 {
            font-size: 2.9em;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.32), 0 5px 10px rgba(0, 0, 0, 0.5);
        }
        hr {
            border-color: rgba(238, 238, 238, 0.18);
        }
    }
}

//project-location ===============================================================================================

.project-map {
    position: relative;
    height: 100%;
    .project-map-body {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        z-index: 11;
        #btn-map-nearby {
            border-radius: 0;
            padding: 12px 15px;
            min-width: 285px;
        }
        .dropdown-nearby-type {
            background-color: rgba(0, 0, 0, 0.81);
            margin-top: -1px;
            width: 100%;
            border-radius: 0;
            a {
                color: #fff;
                padding: 7px 15px;
                &:hover,
                &.active {
                    background-color: #fff;
                    color: #333 !important;
                }
            }
            li {
                float: left;
                width: 50%;
                &:last-child {
                    border-top: 1px solid #3c3c3c;
                    width: 100%;
                }
                .btn-clear-marker {
                    color: #fff;
                    text-align: right;
                    padding: 5px 15px;
                    font-size: 12px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .project-map .project-map-body .dropdown-nearby-type {
        display: block;
    }
}

@media screen and (max-width: 544px) {
    .project-map .project-map-body {
        #btn-map-nearby,
        .dropdown-nearby-type a {
            font-size: 12px;
            min-width: auto;
        }
        #btn-map-nearby {
            padding: 10px 12px;
        }
        .dropdown-nearby-type a {
            padding: 7px 10px;
        }
    }
}

.project-location ul {
    font-size: 14px;
}

#map_canvas {
    height: 100%;
    width: 100%;
    background: #f2f2f2;
}

//project-floor-plan ===============================================================================================
.project-floor-plan {
    padding: 30px 0;
    .list-group-item .list-group-item-heading {
        font-size: 16px;
    }
    li.list-group-item:hover {
        color: #555;
        text-decoration: none;
        background-color: #f5f5f5;
    }
    a.list-group-item.active {
        background-color: #c9302c;
        border-radius: 0;
    }
    .list-group-item {
        border: 0;
        padding: 15px;
    }
    .dropdown-toggle {
        font-size: 14px;
        &:after {
            content: "\f107";
            font-family: FontAwesome;
            color: #333;
            position: absolute;
            right: 0;
            top: 0;
            background: transparent;
            z-index: 1;
            text-align: center;
            width: 40px;
            height: 100%;
            pointer-events: none;
            box-sizing: border-box;
            font-size: 1.8em;
            line-height: 40px;
        }
    }

    @media screen and (min-width: 992px) {
        padding: 70px 0;
        h3 {
            background-color: #222222;
            color: #fff;
            padding: 25px 20px;
            text-align: center;
            margin-bottom: 0;
        }
        .dropdown>.dropdown-menu {
            position: static;
            display: block;
            clear: left;
            padding: 0;
            max-height: 100%;
            overflow-y: hidden;
        }
        .dropdown-header {
            font-size: 18px;
            padding: 15px 15px 10px 15px;
        }
        .tab-content-title strong {
            font-size: 34px;
        }
    }
    
    @media screen and (min-width: 992px) {
        .dropdown>.dropdown-menu {
            min-height: 500px;
            max-height: 600px;
            overflow: auto;
        }
    }

    @media screen and (min-width: 1200px) {
        .dropdown>.dropdown-menu {
            min-height: 580px;
        }
    }
}

.dropdown-block {
    .dropdown-toggle {
        border-radius: 0;
        text-align: left;
        i.pull-right {
            font-size: 1.9em;
        }
    }
    .dropdown-menu {
        overflow-y: auto;
        width: 100%;
        max-height: 280px;
        margin-top: -1px;
        border-radius: 0;
        >li>a {
            padding: 10px 20px;
        }
    }
    .dropdown-toggle {
        position: relative;
        overflow: hidden;
    }
    .fa-angle-down {
        position: absolute;
        top: 0;
        right: 0;
        padding: 6px 10px 6px 6px;
    }
    &.text-overflow-hide {
        .dropdown-toggle {
            position: relative;
            overflow: hidden;
        }
        .fa-angle-down {
            position: absolute;
            top: 0;
            right: 0;
            padding: 6px 10px 6px 6px;
            background: #222;
        }
        &.open .fa-angle-down {
            background: #d4d4d4;
        }
    }
}


//AMENITIES GALLERY ===============================================================================================


.fotorama-wrap {
    position: relative;
    .amenities-gallery-title {
        font-size: 22px;
        position: absolute;
        top: 35px;
        left: 50px;
        z-index: 1;
        color: #fff;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.32), 0 5px 10px rgba(0, 0, 0, 0.5);
    }
}

.fotorama__nav__frame {
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    &:hover {
        -webkit-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
        z-index: 11;
    }
}

.fotorama__nav,
.fotorama__stage {
    overflow: initial;
}

.fotorama__video{
  top: 0;
}

.fotorama {
    background: #f2f2f2;
    .fotorama__nav--thumbs {
        position: absolute;
        left: auto;
        width: 100%;
        bottom: 15px;
        .fotorama__thumb {
            border: solid 2px #ffffff;
        }
    }
    .fotorama__caption {
        top: 60px;
        left: 40px;
        right: initial;
        bottom: initial;
        color: #fff;
        .fotorama__caption__wrap {
            background-color: transparent;
            font-size: 44px;
            font-weight: bold;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.32), 0 5px 10px rgba(0, 0, 0, 0.5);
        }
    }
    .fotorama__wrap--video {
        z-index: 1;
        .fotorama__video-close {
            background: url(http://avidaland.com/assets/img/fotorama-close.png) no-repeat;
            top: 55px;
            right: 30px;
            width: 70px;
            height: 70px;
            -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
        }
    }
}

@media screen and (max-width: 1200px) {
    .fotorama {
        .amenities-gallery-title {
            font-size: 20px !important;
        }
        .fotorama__caption__wrap {
            font-size: 34px !important;
        }
    }
}

//CONSTRUCTION ===============================================================================================

.constructions{
    padding-bottom: 60px;
    hr{
        margin: 50px 0;
    }
}
.const_img_link{
    display: block;
    position: relative;
}
.more-number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 3.4em;
}