.form-control {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
}

.c-input-select {
    overflow: hidden;
    position: relative;
    &:after {
        content: "\f107";
        font-family: FontAwesome;
        color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        background: transparent;
        z-index: 1;
        text-align: center;
        width: 40px;
        height: 100%;
        pointer-events: none;
        box-sizing: border-box;
        font-size: 1.8em;
        line-height: 34px;
    }
    select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
        border-color: #fff !important;
        color: #fff;
        optgroup,
        option {
            color: #333;
        }
    }
}

.c-input-select-normal {
    select {
        color: #333;
        border-color: #ccc !important;
    }
    &:after {
        color: #ccc;
    }
}

.c-input-select-lg {
    &:after {
        line-height: 44px;
    }
    .form-control,
    .btn-search {
        height: 44px;
        border-width: 1px;
    }
}