@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import "variables.scss";
@import "bootstrap";
@import "helpers.scss";
@import "resets.scss";
@import "header.scss";
@import "footer.scss";
@import "property.scss";
@import "project.scss";
@import "~font-awesome/scss/font-awesome";

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-top: 131px;
}

@media screen and (max-width: 767px) {
    body {
        padding-top: 50px !important;
    }
}

.navbar{
	&-brand{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	&-link{
		&-pop{
			padding-top: 11px !important;
			padding-bottom: 12px !important;
		}
	}
}


@media screen and (min-width: 768px) {
    .avida-featured,
    .whats-new,
    .about-avida {
        padding: 50px 0;
    }
}

.avida-blog {
    background-size: cover;
    background-position: 50%;
    color: #010101;
    background-color: #d7d7de;
    .avida-blog-block {
        background: rgba(255, 255, 255, 0.66);
        line-height: 1.6em;
    }
}

@media screen and (min-width: 544px) {
    .avida-blog {
        .avida-blog-block {
            padding: 90px 0;
        }
        .avida-blog-content {
            text-align: center;
        }
    }
}

.about-avida {
    background-size: cover;
    background-position: 50%;
    background-color: #c9302c;
    color: #fff;
    .discover-link {
        color: #fff;
    }
}

@media screen and (min-width: 768px) {
    .about-avida {
        padding: 130px 0;
        h2 {
            text-align: left;
            font-size: 28px;
            span {
                font-size: 18px;
                display: block;
                margin-bottom: 6px;
            }
        }
        .discover {
            color: #333;
            padding: 20px 20px 1px 20px;
            background-color: #fff;
            .discover-link {
                color: #c9302c;
            }
        }
    }
}

.nav-static{
    padding-top: 40px;
    @media screen and (min-width: 768px) {
        padding-top: 75px;
    }
    a{
        color: #333;
        &.active{
            background: #c9302d;
            color: #fff;
            &:hover{
                background-color: #c9302d;
            }
        }
    }
}